@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat-Bold') local('Montserrat Bold'), url(../public/font/Montserrat-Bold.ttf);
    font-display: auto;
}
    
*{
    font-family: 'Montserrat';
    
}
