.BubbleContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -30;
  padding: 0 10px;
}
.BubbleDot {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.BubbleDot span {
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  animation: dot 15s linear infinite;
}

@keyframes dot {
  0% {
    transform: translateY(0vh) scale(.5);
    opacity: .5;
  }
  25% { opacity: .9}
  37% { opacity: .4}
  49% { opacity:.7}
  63% { opacity: .2}
  76% { opacity: .8}
  81% { opacity:.5}
  100% {
    transform: translateY(100vh) scale(1);
    opacity: 1;
  }
}
