@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Jost';
    font-style: normal;
    src: url(../../public/fonts/Jost-SemiBold.ttf);
}
@font-face {
    font-family: 'Patrick Hand';
    font-style: normal;
    src: url(../../public/fonts/PatrickHand-Regular.ttf);
}
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    src: url(../../public/fonts/KaushanScript-Regular.ttf);
}
@font-face {
    font-family: 'Lily Script One';
    font-style: normal;
    src: url(../../public/fonts/LilyScriptOne-Regular.ttf);
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    src: url(../../public/fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    src: url(../../public/fonts/VarelaRound-Regular.ttf);
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    src: url(../../public/fonts/Poppins-SemiBold.ttf);
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: .5rem;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(155, 179, 201);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(187, 208, 240);
}


body{
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: overlay;
    overflow-x: hidden;
}

.facebook {color: #3b5998;}
.instagram {color: #d633ad;}
.twitter {color: #2ab3f3;}
.whatsapp{color:#19da43}
.profile { color: white;}


.txt1{
    font-family: "Jost", sans-serif;
}
.txt2{
    font-family: 'Patrick Hand', cursive;
    letter-spacing: .5px;
}
.txt3{
    background: -webkit-linear-gradient(45deg,#4e2ce2, #FC427B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', cursive;
    font-weight: 700;
    letter-spacing: 2px;
}
.txt4{
    background: -webkit-linear-gradient(45deg,#4e2ce2, #FC427B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', cursive;
    font-weight: 700;
    letter-spacing: 4px;
}
.txt5{
    font-family: 'Lily Script One', cursive;
}
.txt6{
    font-family: 'Lily Script One', cursive;
    animation: name 2s linear infinite;
}
@keyframes name{0%{letter-spacing: .5px;}50%{letter-spacing: 1px;}100%{letter-spacing: .5px;}}

.txt7{
    font-family: 'Ubuntu', sans-serif;
}
.txt8{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1em;
}
.txt9{
    font-family: 'Poppins', sans-serif;
}