:root{
  --col1:#88FFF7;
  --col2:#ff6493;
  --col3:#F7FD04;
  --col4:#00dc82;
  --col5:#dc00d4;
  --col6:#0096FF;
}
.navbar{
  position: fixed;
  top: 0;
  z-index: 25;
  /* background-color: #fff; */
  background-color: rgb(31,41,59, .6);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow:hidden;
  z-index: 31;
  min-width: 100vw;
  min-height: 5rem;
  padding-block: 0.5rem;
  display: flex;
  align-items: center;
}

.navUl{ 
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.navLi{
  position: relative;
  margin-left: 2rem;
}
@media only screen and (max-width: 1280px) {
  .navLi{
    margin-left: 1rem;
  }
  .navA{
    font-size: 1.5rem;
  }
}
.navA{
  position: relative;
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color:transparent;
  -webkit-text-stroke: 1px rgba(255,255,255,0.5);
}
.navA::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  overflow: hidden;
  transition: .6s;
}

.navA1::before {
  color: var(--col1);
  border-right: 5px solid var(--col1);
} 
.navA1:hover::before{
  width: 100%;
  -webkit-text-stroke: .2px var(--col1);
  filter: drop-shadow(0 0 25px var(--col1));
}

.navA2::before {
  color: var(--col2);
  border-right: 5px solid var(--col2);
} 
.navA2:hover::before{
  width: 100%;
  -webkit-text-stroke: .2px var(--col2);
  filter: drop-shadow(0 0 25px var(--col2));
}

.navA3::before {
  color: var(--col3);
  border-right: 5px solid var(--col3);
} 
.navA3:hover::before{
  width: 100%;
  -webkit-text-stroke: .2px var(--col3);
  filter: drop-shadow(0 0 25px var(--col3));
}

.navA4::before {
  color: var(--col4);
  border-right: 5px solid var(--col4);
} 
.navA4:hover::before{
  width: 100%;
  -webkit-text-stroke: .2px var(--col4);
  filter: drop-shadow(0 0 25px var(--col4));
}

.active{
  background: -webkit-linear-gradient(45deg,var(--col6), var(--col5));
  -webkit-text-stroke: .2px #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 25px var(--col5));
}
